{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Dashboard' %}
{% set active = 'dashboard' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Accounts

            <a href="#" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-plus"></i> New Account
            </a>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Pending Approval Loans -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-body table-responsive">

                        <table class="table" id="validate-loans">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Balance</th>
                                <th>Credit Limit</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for account in accounts %}
                                <tr>
                                    <td class="editable-td">
                                        <input type="text" value="{{ account.name }}"
                                               class="editable-account-name"
                                               data-account-id="{{ account.accountId }}"
                                               data-original-value="{{ account.name }}">
                                    </td>
                                    <td>{{ account.typeName }}</td>
                                    <td>${{ account.balance|number_format(2) }}</td>
                                    {% if account.type == 'C' %}
                                        <td>${{ account.creditLimit|number_format(2) }}</td>
                                    {% else %}
                                        <td>--</td>
                                    {% endif %}
                                    <td><i class="fa fa-trash"></i></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <script type="application/javascript">
        $('.editable-account-name')
                .on('keyup', function(e) {
                    if (e.which === 13) $(this).blur();
                 })
                .on('blur', function(){
                    var $this = $(this);
                    if ($this.val() != $this.data('original-value')) {
                        // Something changed! Trigger the AJAX request..
                        console.log('Updating Account ID ' + $this.data('account-id') + ' with value: ' + $this.val());
                        $this.parent().addClass("loading");
                        $this.prop('disabled', true);

                        // Fire off the request to /form.php
                        var request = $.ajax({
                            url: "{{ path('angle_nt_app_account_update_name') }}",
                            type: "json",
                            method: "POST",
                            data: {
                                "accountId": $this.data('account-id'),
                                "name": $this.val()
                            }
                        });

                        // Callback handler that will be called on success
                        request.done(function (data, textStatus, jqXHR){
                            if (data.error == 0) {
                                // Log a message to the console
                                console.log("Successfully updated account name!");
                                // Update data-original-value to the new value
                                $this.data('original-value', $this.val());
                            } else {
                                // An error has ocurred
                                console.log("Account name update failed");
                                // Revert field value to original value
                                $this.val( $this.data('original-value') );
                            }
                        });

                        // Callback handler that will be called on failure
                        request.fail(function (jqXHR, textStatus, errorThrown){
                            // Log the error to the console
                            console.error(
                                    "The following error occurred: "+
                                    textStatus, errorThrown
                            );
                            // Revert field value to original value
                            $this.val( $this.data('original-value') );
                        });

                        // Callback handler that will be called regardless if the request failed or succeeded
                        request.always(function () {
                            // Re-enable the input
                            $this.parent().removeClass("loading");
                            $this.prop('disabled', false);
                        });
                    } else {
                        // No changes in the input.. do nothing.
                    }
                });


    </script>
{% endblock %}