{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Categories' %}
{% set active = 'category' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Accounts

            <a href="#" class="btn btn-primary btn-sm pull-right">
                <i class="fa fa-plus"></i> New Account
            </a>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Category Table -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-body table-responsive">

                        <table class="table" id="validate-loans">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Monthly Budget</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for category in categories %}
                                <tr>
                                    <td class="editable-td">
                                        <input type="text" value="{{ category.name }}"
                                               class="editable-field"
                                               data-object-id="{{ category.categoryId }}"
                                               data-update-path="{{ path('angle_nt_app_category_update') }}"
                                               data-update-property="name"
                                               data-original-value="{{ category.name }}">
                                    </td>
                                    <td class="editable-td">
                                        <input type="text" value="${{ category.budget|number_format(2) }}"
                                               class="editable-field money"
                                               data-object-id="{{ category.categoryId }}"
                                               data-update-path="{{ path('angle_nt_app_category_update') }}"
                                               data-update-property="name"
                                               data-original-value="{{ category.budget|number_format(2, '.', '') }}">
                                    </td>
                                    <td class="text-center">
                                        <form action="{{ path('angle_nt_app_category_delete') }}" method="post">
                                            <input type="hidden" name="accountId" value="{{ account.accountId }}">
                                            <button type="submit" class="btn btn-xs btn-default"
                                                    onclick="return confirm('Are you sure you want to delete the account \'{{ account.name }}\'? This action cannot be undone.');">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}