<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            <li class="{% if active == 'dashboard' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_dashboard') }}">
                    <i class="fa fa-dashboard fa-fw"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="{% if active == 'account' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_account_list') }}">
                    <i class="fa fa-bank fa-fw"></i> <span>Accounts</span>
                </a>
            </li>
            <li class="{% if active == 'category' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_category_list') }}">
                    <i class="fa fa-cubes fa-fw"></i> <span>Categories</span>
                </a>
            </li>
            <li class="{% if active == 'commerce' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_commerce_list') }}">
                    <i class="fa fa-shopping-cart fa-fw"></i> <span>Commerces</span>
                </a>
            </li>
            <li class="{% if active == 'transaction' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_list') }}">
                    <i class="fa fa-book fa-fw"></i> <span>Transactions</span>
                </a>
            </li>

            <li class="{% if active == 'report' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_report_list') }}">
                    <i class="fa fa-line-chart fa-fw"></i> <span>Reports</span>
                </a>
            </li>
            
            {#
            <li class="{% if active == 'tool' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_tool_list') }}">
                    <i class="fa fa-wrench"></i> <span>Herramientas</span>
                </a>
            </li>
            #}


            <li class="header">TRANSACTIONS</li>
            <li class="{% if active == 'new-income' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_income') }}">
                    <i class="fa fa-plus fa-fw"></i> <span>New Income</span>
                </a>
            </li>
            <li class="{% if active == 'new-expense' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_expense') }}">
                    <i class="fa fa-minus fa-fw"></i> <span>New Expense</span>
                </a>
            </li>
            <li class="{% if active == 'new-transfer' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_transfer') }}">
                    <i class="fa fa-arrow-right fa-fw"></i> <span>New Transfer</span>
                </a>
            </li>

            <li class="header">HELP</li>
            <li class="{% if active == 'howto' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_help_howto') }}">
                    <i class="fa fa-life-saver fa-fw"></i> <span>How to Use NickelTracker</span>
                </a>
            </li>

            <li id="week" class="header text-center">{{ 'now'|date('Y-m-d', 'America/Monterrey') }} (Wk {{ 'now'|date('W') }})</li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>