<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">MAIN MENU</li>
            <li class="{% if active == 'dashboard' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_dashboard') }}">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="{% if active == 'company' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_account_list') }}">
                    <i class="fa fa-building-o"></i> <span>Accounts</span>
                </a>
            </li>
            <li class="{% if active == 'employee' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_category_list') }}">
                    <i class="fa fa-users"></i> <span>Categories</span>
                </a>
            </li>
            <li class="{% if active == 'loan' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_list') }}">
                    <i class="fa fa-book"></i> <span>Transactions</span>
                </a>
            </li>

            <li class="{% if active == 'report' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_report_list') }}">
                    <i class="fa fa-line-chart"></i> <span>Reportes</span>
                </a>
            </li>
            
            {#
            <li class="{% if active == 'tool' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_tool_list') }}">
                    <i class="fa fa-wrench"></i> <span>Herramientas</span>
                </a>
            </li>
            #}


            <li class="header">TRANSACTIONS</li>
            <li class="{% if active == 'tool' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_income') }}">
                    <i class="fa fa-plus fa-fw"></i> <span>New Income</span>
                </a>
            </li>
            <li class="{% if active == 'tool' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_expense') }}">
                    <i class="fa fa-minus fa-fw"></i> <span>New Expense</span>
                </a>
            </li>
            <li class="{% if active == 'tool' %}active{% endif %}">
                <a href="{{ path('angle_nt_app_transaction_new_transfer') }}">
                    <i class="fa fa-arrow-right fa-fw"></i> <span>New Transfer</span>
                </a>
            </li>

            <li id="week" class="header text-center">Semana Actual: {{ 'now'|date('o-W') }}</li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>