{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Dashboard' %}
{% set active = 'dashboard' %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ 'now'|date('F Y') }}
            <small>You are in day {{ 'now'|date('j', 'America/Monterrey') }} of {{ 'last day of this month'|date('j') }} days</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

       <!-- Progress Bar -->
        <div class="row">
            <div class="col-xs-12">
                Progress bar here
            </div>
        </div>

        <!-- Big info boxes -->
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-plus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Monthly Income</span>
                        <span class="info-box-number"><small>$</small>500,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-minus"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Monthly Expense</span>
                        <span class="info-box-number"><small>$</small>800,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- Small info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Cash</span>
                        <span class="info-box-number"><small>$</small>500,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-university"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Debit</span>
                        <span class="info-box-number"><small>$</small>800,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-suitcase"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Savings</span>
                        <span class="info-box-number"><small>$</small>15,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-credit-card"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Credit</span>
                        <span class="info-box-number"><small>$</small>20,000.00</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
        </div>

        <!-- Categories -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Visitors Report</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <div class="row">
                            <div class="col-md-7 col-sm-8">
                                <div class="chart-responsive">
                                    <canvas id="categoryPieChart" height="155" width="244" style="width: 244px; height: 155px;"></canvas>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-md-5 col-sm-4">
                                <div class="pad box-pane-right bg-green" style="min-height: 280px">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Budget</th>
                                                <th>Expense</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                            <tr>
                                                <td>Groceries</td>
                                                <td>$ 14,000.00</td>
                                                <td>$ 14,000.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- /.col -->
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>


    </section><!-- /.content -->
{% endblock %}

{% block scripts %}
    {{ parent() }}

    <!-- ChartJs -->
    <script src="{{ asset('bundles/anglenickeltrackercore/plugins/chartjs/Chart.min.js') }}" type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            var ctx = $("#categoryPieChart");

            var data = {
                labels: [
                    "Red",
                    "Blue",
                    "Yellow"
                ],
                datasets: [
                    {
                        data: [300, 50, 100],
                        backgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ],
                        hoverBackgroundColor: [
                            "#FF6384",
                            "#36A2EB",
                            "#FFCE56"
                        ]
                    }]
            };

            // For a pie chart
            var myPieChart = new Chart(ctx,{
                type: 'pie',
                data: data,
                options: options
            });
        });
    </script>

{% endblock %}
