{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Transactions' %}
{% set active = 'transaction' %}


{% block styles %}
    {{ parent() }}
    <!-- DATA TABLES -->
    <link href="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Transactions
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Filters -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-info">

                    <div class="box-header with-border">
                        <i class="fa fa-filter"></i>
                        <h3 class="box-title">Filters</h3>

                        <div class="box-tools pull-right visible-xs-block">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>

                    <form role="form" method="post" action="{{ path('angle_nt_app_transaction_list') }}">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="startDate">From</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control pull-right datepicker" id="startDate" name="startDate" title="From"
                                                   {% if filters and filters.startDate %}value="{{ filters.startDate|date('Y-m-d') }}"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="endDate">To</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control pull-right datepicker" id="endDate" name="endDate" title="To"
                                                   {% if filters and filters.endDate %}value="{{ filters.endDate|date('Y-m-d') }}"{% endif %}>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="searchString">Search</label>
                                        <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Search..."
                                        {% if filters and filters.searchString %}value="{{ filters.searchString }}"{% endif %}>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="accountId">Account</label>
                                        <select class="form-control" name="accountId" id="accountId" title="Accounts">
                                            <option value=""
                                                {% if not filters or not filters.accountId %}selected="selected"{% endif %}
                                            >-- Select an account --</option>
                                            {% for account in accounts %}
                                                <option value="{{ account.accountId }}"
                                                    {% if filters and filters.accountId == account.accountId %}selected="selected"{% endif %}
                                                >{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <div class="form-group">
                                        <label for="categoryId">Category</label>
                                        <select class="form-control" name="categoryId" id="categoryId" title="Categories">
                                            <option value=""
                                                {% if not filters or not filters.categoryId %}selected="selected"{% endif %}
                                            >-- Select a category --</option>
                                            {% for category in categories %}
                                                <option value="{{ category.categoryId }}"
                                                    {% if filters and filters.categoryId == category.categoryId %}selected="selected"{% endif %}
                                                >{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4">
                                    <button type="submit" class="btn btn-info btn-block">Filter</button>
                                    <a href="{{ path('angle_nt_app_transaction_list') }}" class="btn btn-default btn-block">Clear</a>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>

        <!-- Accounts Table -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box {% if filters %}box-warning{% else %}box-primary{% endif %}">

                    {% if filters %}
                    <div class="box-header with-border">
                        <i class="fa fa-filter"></i>
                        <h3 class="box-title">Filtered transaction results</h3>
                    </div>
                    {% endif %}

                    <div class="box-body table-responsive">

                        <table class="table" id="datatable">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Account</th>
                                <th>Category</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in transactions %}
                                <tr>
                                    <td>
                                        {% if e.transaction.type == 'I' %}
                                            <i class="fa fa-plus"></i>
                                        {% elseif e.transaction.type == 'E' %}
                                            <i class="fa fa-minus"></i>
                                        {% elseif e.transaction.type == 'T' %}
                                            <i class="fa fa-arrow-right"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ e.sourceAccount }}
                                        {% if e.transaction.type == 'T' %}
                                            <i class="fa fa-angle-right"></i> {{ e.destinationAccount }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if e.transaction.type == 'E' %}
                                            {{ e.category|default('N/A') }}
                                        {% else %}
                                            --
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if e.transaction.type == 'E' and e.commerce %}
                                            {{ e.commerce }}:
                                        {% endif %}
                                        {{ e.transaction.description }}
                                    </td>
                                    <td>${{ e.transaction.amount|number_format(2) }}</td>
                                    <td>{{ e.transaction.date|date('d/m/Y') }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-default" href="{{ path('angle_nt_app_transaction_view', {'id': e.transaction.transactionId}) }}">
                                            <i class="fa fa-bars"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <!-- Enable DatePicker -->
    <script>
        $(function () {
            //Date picker
            $('.datepicker').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: "linked",
                clearBtn: true
            });
        });
    </script>

    <!-- DATA TABLES SCRIPT -->
    <script src="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <script>
        jQuery.extend( jQuery.fn.dataTableExt.oSort, {
            "date-eu-pre": function ( date ) {
                date = date.replace(" ", "");

                if ( ! date ) {
                    return 0;
                }

                var year;
                var eu_date = date.split(/[\.\-\/]/);

                /*year (optional)*/
                if ( eu_date[2] ) {
                    year = eu_date[2];
                }
                else {
                    year = 0;
                }

                /*month*/
                var month = eu_date[1];
                if ( month.length == 1 ) {
                    month = 0+month;
                }

                /*day*/
                var day = eu_date[0];
                if ( day.length == 1 ) {
                    day = 0+day;
                }

                return (year + month + day) * 1;
            },
            "date-eu-asc": function ( a, b ) {
                return ((a < b) ? -1 : ((a > b) ? 1 : 0));
            },
            "date-eu-desc": function ( a, b ) {
                return ((a < b) ? 1 : ((a > b) ? -1 : 0));
            }
        } );


        // Initialize data tables
        // For further documentation @see https://datatables.net/reference/option/
        $(document).ready(function () {
            $('#datatable').dataTable({
                'order': [[5, "desc"]],
                'bFilter': false,
                'iDisplayLength': 50,
                'bLengthChange': false,
                'columnDefs': [
                    { 'targets': [0, -1], 'orderable': false }, // Actions column
                    { 'targets': [5], 'type': 'date-eu'}
                ],
                "tableTools": {
                    "sSwfPath": "{{ app.request.getSchemeAndHttpHost() ~ asset('bundles/anglenickeltrackercore/swf/copy_csv_xls_pdf.swf') }}"
                }
            });
            // #dataTable.end
        });
        // document.ready.end
    </script>
{% endblock %}