{% extends 'AngleNickelTrackerAppBundle:Common:layout.html.twig' %}
{% set page_title = 'Transactions' %}
{% set active = 'transaction' %}


{% block styles %}
    {{ parent() }}
    <!-- DATA TABLES -->
    <link href="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Transactions
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Filters -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <form role="form">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="startDate">From</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control pull-right datepicker" id="startDate" name="startDate" title="From"
                                                   value="{{ 'now'|date_modify("-1 day")|date('Y-m-d', 'America/Monterrey') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="endDate">To</label>
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control pull-right datepicker" id="endDate" name="endDate" title="To"
                                                   value="{{ 'now'|date('Y-m-d', 'America/Monterrey') }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="searchString">Search</label>
                                        <input type="text" class="form-control" name="searchString" id="searchString" placeholder="Search..." />
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="accountId">Account</label>
                                        <select class="form-control" name="accountId" id="accountId" title="Accounts">
                                            <option value="0">-- Select an account --</option>
                                            {% for account in accounts %}
                                                <option value="{{ account.accountId }}">{{ account.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label for="categoryId">Category</label>
                                        <select class="form-control" name="categoryId" id="categoryId" title="Categories">
                                            <option value="0">-- Select a category --</option>
                                            {% for category in categories %}
                                                <option value="{{ category.categoryId }}">{{ category.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block">Filter</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <!-- Accounts Table -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">

                    <div class="box-body table-responsive">

                        <table class="table" id="datatable">
                            <thead>
                            <tr>
                                <th>Transaction</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for transaction in transactions %}
                                <tr>
                                    <td>
                                        {{ transaction.sourceAccountId.name }} >
                                        {% if transaction.type == 'T' %}
                                            {{ transaction.destinationAccountId.name }}
                                        {% elseif transaction.type == 'E' %}
                                            {% if transaction.commerceId %}{{ transaction.commerceId.name }}{% else %}Commerce not provided{% endif %}
                                            {% if transaction.categoryId %}({{ transaction.categoryId.name }}{% endif %}
                                        {% endif %}
                                    </td>
                                    <td>{{ transaction.description }}</td>
                                    <td>${{ transaction.amount|number_format(2) }}</td>
                                    <td>{{ transaction.date|date('d/m/Y') }}</td>
                                    <td class="text-center">
                                        <a class="btn btn-xs btn-default" href="{{ path('angle_nt_app_transaction_view', {'id': transaction.transactionId}) }}">
                                            <i class="fa fa-bars"></i> Details
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>

    </section><!-- /.content -->
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <!-- Enable DatePicker -->
    <script>
        $(function () {
            //Date picker
            $('.datepicker').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd",
                todayBtn: "linked",
                clearBtn: true
            });
        });
    </script>

    <!-- DATA TABLES SCRIPT -->
    <script src="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/jquery.dataTables.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/dataTables.bootstrap.js') }}" type="text/javascript"></script>

    <script>
        // Initialize data tables
        // For further documentation @see https://datatables.net/reference/option/
        $(document).ready(function () {
            $('#datatable').dataTable({
                'order': [[2, "asc"]],
                'bFilter': false,
                'columnDefs': [
                    { 'targets': [-1], 'orderable': false } // Actions column
                ]
            });
            // #dataTable.end
        });
        // document.ready.end
    </script>
{% endblock %}