{% extends 'AngleNickelTrackerAdminBundle:Common:layout.html.twig' %}
{% set page_title = 'User: ' ~ user.fullName %}
{% set active = 'user' %}


{% block styles %}
    {{ parent() }}
    <!-- DATA TABLES -->
    <link href="{{ asset('bundles/anglenickeltrackercore/plugins/datatables/dataTables.bootstrap.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <strong>User:</strong> {{ user.fullName }}
            <!--<small>Summarized Information</small>-->
            <small class="pull-right"><i class="fa fa-database"></i> {{ user.userId }}</small>
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Main row -->
        <div class="row">

            <div class="col-xs-12">

                <div class="row">

                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">General Information</h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Name</dt>
                                    <dd>{{ user.fullName }}</dd>
                                    <dt>E-Mail</dt>
                                    <dd>{% if user.email %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% else %}<em>N/A</em>{% endif %}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Login Information</h3>
                            </div>
                            <div class="box-body">
                                <dl class="dl-horizontal">
                                    <dt>Username</dt>
                                    <dd>{{ user.username }}</dd>
                                    <dt>Role</dt>
                                    <dd>{{ user.roleName }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Reset Password</h3>
                            </div>
                            <form role="form" action="{{ path('angle_nt_admin_user_reset', {'id': user.userId}) }}" method="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label for="newPassword">New Password</label>
                                        <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <label for="confirmPassword">Repeat Password</label>
                                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                                    </div>
                                </div>
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-xs-12">
                                {% if user.isActive %}
                                    <a href="{{ path('angle_nt_admin_user_disable', {'id': user.userId}) }}"
                                       class="btn btn-warning btn-md btn-block" >
                                        <i class="fa fa-fw fa-ban"></i> Disable
                                    </a>
                                {% else %}
                                    <a href="{{ path('angle_nt_admin_user_enable', {'id': user.userId}) }}"
                                       class="btn btn-primary btn-md btn-block" >
                                        <i class="fa fa-fw fa-check"></i> Enable
                                    </a>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.row (main row) -->

        <br>


        {% if debug is defined and debug.executionTime is defined %}
            <div class="row">
                <div class="col-xs-12 text-center">
                    <small>Execution time: {{ debug.executionTime|number_format(3) }} seconds</small>
                </div>
            </div>
        {% endif %}

    </section><!-- /.content -->
{% endblock %}